// COLORS
$primary-color: #000000;
$font-color: #e5e5e5;
$special-font-color: #fca311;

// FONT SIZE MOBILE
$mb-fnt-lrg: 1.5rem;
$mb-fnt-md: 1.25rem;
$mb-fnt-sml: .81rem;
$mb-fnt-xml: .75rem;
$mb-fnt-btn: .88rem;

// FONT SIZE DESKTOP
$dk-fnt-lrg: 2.5rem;
$dk-fnt-md: 2rem;
$dk-fnt-sml: 1rem;
$dk-fnt-xml: .88rem;
$dk-fnt-btn: 1.25rem;

// TRANSITION
$default-transition: 300ms ease-in-out; 